services:

  api:
    build: .
    container_name: ai_support_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app

  celery:
    build: .
    container_name: ai_support_celery
    command: celery -A app.core.celery_app worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
      - mongo
    volumes:
      - .:/app

  mongo:
    image: mongo:6
    container_name: ai_support_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: ai_support_redis
    ports:
      - "6379:6379"

volumes:
  mongo_data:
